/* Hero Section Starts */
.hero--section--container {
  position: relative;
  background-image: url(../Images/hero.jpg);
  height: 37rem;
  background-size: cover;
  background-position: center;
  color: white;
  margin-top: 9.22rem;
}

.hero--section--container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.hero--welcome,
.hero--title,
.hero--description,
.hero--buttons {
  position: relative;
  z-index: 1;
}

.hero--content--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 31rem;
  padding: 0 0.71rem 0 0.71rem;
}

.hero--welcome {
  border-bottom: 4px solid #c82424;
  width: 6.6rem;
  padding-bottom: 0.8rem;
  padding-top: 10.6rem;
}

.hero--title {
  font-size: 1.13rem;
}

.hero--description {
  font-size: 0.65rem;
  padding-bottom: 5.6rem;
}

.hero--buttons {
  display: flex;
  column-gap: 1.5rem;
  font-size: 0.75rem;
}

.free--consulting a {
  background-color: #c82424;
  padding: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  margin-left: 0.71rem;
}

.free--consulting a:hover {
  background-image: radial-gradient(#c82424, #fff, grey);
  padding: 0.475rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  font-weight: bold;
  color: black;
}

.learn--more a {
  background-color: transparent;
  padding: 0.475rem;
  border: 1px solid white;
  border-radius: 0.3rem;
}

.learn--more a:hover {
  background-image: linear-gradient(to right, #c82424, #fff, grey);
  padding: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  color: black;
  font-size: 0.8rem;
}
/* Hero Section Ends */

/* For Tablet Screens */
@media (min-width: 601px) and (max-width: 1024px) {
  .hero--section--container {
    height: 38rem;
  }

  .hero--content--wrapper {
    height: 32rem;
    padding: 0 3rem 0 3rem;
  }

  .hero--welcome {
    width: 10rem;
    padding-bottom: 0.9rem;
    padding-top: 6rem;
    font-size: 1.5rem;
  }

  .hero--title {
    font-size: 2rem;
  }

  .hero--description {
    font-size: 1rem;
    padding-bottom: 5rem;
  }

  .hero--buttons {
    column-gap: 2rem;
    font-size: 1rem;
  }

  .free--consulting a {
    padding: 0.9rem;
    border-radius: 0.5rem;
    margin-left: 3rem;
  }

  .free--consulting a:hover {
    padding: 0.775rem;
    border-radius: 0.3rem;
    font-weight: bold;
    color: black;
  }

  .learn--more a {
    padding: 0.775rem;
    border: 1px solid white;
    border-radius: 0.5rem;
  }

  .learn--more a:hover {
    padding: 0.9rem;
    border-radius: 0.3rem;
    color: black;
    font-size: 1rem;
  }
}

/* For Laptop Screens */
@media (min-width: 1025px) {
  .hero--section--container {
    height: 40rem;
  }

  .hero--content--wrapper {
    height: 35rem;
    padding: 0 4.5rem 0 4.5rem;
  }

  .hero--welcome {
    width: 12rem;
    padding-bottom: 0.9rem;
    padding-top: 6rem;
    font-size: 1.7rem;
  }

  .hero--title {
    font-size: 2.2rem;
  }

  .hero--description {
    font-size: 1.2rem;
    padding-bottom: 5rem;
  }

  .hero--buttons {
    column-gap: 2rem;
    font-size: 1rem;
  }

  .free--consulting a {
    padding: 0.9rem;
    border-radius: 0.5rem;
    margin-left: 4.5rem;
  }

  .free--consulting a:hover {
    padding: 0.775rem;
    border-radius: 0.3rem;
    font-weight: bold;
    color: black;
  }

  .learn--more a {
    padding: 0.775rem;
    border: 1px solid white;
    border-radius: 0.5rem;
  }

  .learn--more a:hover {
    padding: 0.9rem;
    border-radius: 0.3rem;
    color: black;
    font-size: 1rem;
  }
}
